@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

:root {
    --background: #000;
    --foreground: #fff;
    --borders: #3c3c3c;
    --background-form: rgba(136, 136, 136, .5);
    --color-indicators: #f50;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    margin: 0;
    font-family: 'Roboto';
    overflow-x: hidden;
}


#desktop {
    display: block;
}

#mobile {
    display: none;
}

#desktop header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border-bottom: 1px solid var(--borders);
}

#desktop header, main {
    margin: 0 24px;
}


#desktop .subtitle {
    font-size: 1.2rem;
    text-transform: capitalize;
}

#desktop .text-center {
    text-align: center;
}

#desktop .underline {
    text-decoration: underline;
}

#desktop .form-search-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

#desktop .form-search-top input {
    color: var(--foreground);
    background-color: rgba(136, 136, 136, .5);
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--borders);
    padding: 10px 20px;
    width: 70%;
    font-size: 0.9rem;
}

#desktop .form-avatar, .header-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#desktop .header-title {
    justify-content: start;
}

#desktop .header-title img {
    margin-right: 15px;
}

#desktop .icons {
    width: 2rem;
}

#desktop main {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    height: calc(100vh - 68px - 54px);
}

#desktop aside {
    border-right: 1px solid var(--borders);
}

#desktop aside img {
    width: 1rem;
    margin-right: 12px;
}

#desktop aside p {
    margin: 0;
    padding: 12px 15px;
    font-size: 1rem;
    margin: 10px;
}

#desktop side p:first-child {
    background-color: rgba(136, 136, 136, .4);
    border-radius: 5px;
    margin: 10px;
}

#desktop #playlist {
    height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
}

#desktop #playlist > div {
    margin-top: 15px;
}

#desktop #playlist button {
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    border-radius: 9999px;
    outline: none;
    font-size: 0.9rem;
}

#desktop #playlist button:hover {
    background-color: lightgray;
}

#desktop #playlist .item {
    border-bottom: 1px solid var(--borders);
    padding: 10px 7px;
    cursor: pointer;
    line-height: 24px;
    display: flex;
    align-items: center;
}

#desktop #playlist .item:first-child {
    margin-top: 20px;
}

#desktop #playlist .item:last-child {
    border: none;
}

#desktop #playlist .item img {
    height: 24px;
    margin-right: 10px;
}

#desktop #playlist .selected {
    background-color: var(--borders);
}

#desktop #playlist .item:hover {
    background-color: rgba(136, 136, 136, .2);
}


#desktop .main-img {
    max-width: 65%;
}

#desktop .main-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#desktop .player-container {
    position: sticky;
    bottom: 0;
}

#desktop #player {
    background-color: #292828;
    color: white;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 17px 24px;
}

#desktop #player > div {
    display: flex;
    align-items: center;
}

#desktop #player #controls {
    display: flex;
    justify-content: start;
    align-items: center;
}

#desktop #player #controls img {
    height: 24px;
    cursor: pointer;
}

#desktop #player #controls .play-pause {
    height: 32px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#desktop #player #timer {
    margin-left: 24px;
    font-size: 0.8rem;
}

#desktop #player #title-track {
    font-size: 1.2rem;
    font-weight: bold;
}

#desktop #player #volume {
    display: flex;
    justify-content: flex-end;
}

#desktop #player #volume input[type="range"] {
    margin-right: 15px;
}

/** volumen indicator */
#desktop footer #indicator-volume,
#desktop .player-container #progress {
    -webkit-appearance: none;
    appearance: none;
    width: 30%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 2px;
    background: var(--foreground);
}

#desktop footer #indicator-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: var(--foreground);
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}


#desktop footer #indicator-volume::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: var(--foreground);
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

#desktop .player-container #progress {
    width: 100%;
    position: absolute;
    top: -1px;
    height: 3px;
    background: var(--borders);
}

#desktop .player-container #progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 0;
    width: 0;
    background-color: #f50;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

#desktop .player-container #progress::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none; 
    height: 0;
    width: 0;
    background-color: #f50;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}


/*.player-container #progress::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,85,0, .1);
}

.player-container #progress:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}

.player-container #progress:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
}*/
